figure {
  counter-increment: fig;
}
figure img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

figcaption {
  text-align: center;
}

figcaption::before {
  content: "å›³ " counter(fig) ": ";
  font-weight: bold;
}
