.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureTitle {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.featureImage {
  height: 200px;
  width: 200px;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
